@{
    ViewData["Title"] = " Merhaba " + User.Identity.Name +
        " You paid what you had in your card. We will send waht you bought from us as soon as possible :)";
}

<h3>
    <strong style="color:darkblue">@ViewData["Title"]</strong>
</h3>